<div class="jumbotron jumbotron-fluid" id="gray-rectangle" style="padding-top: 10px; padding-bottom: 10px;">
  <div class="container" ng-model="query">
    <!-- 'http://static.giantbomb.com/' + -->
    <h1 class="display-3">EoEnergy</h1>
    <h2 align="justify">Energía eólica llevada a tu hogar, proporciona energía autosustentable y ayudará a salvar el planeta</h2>
  </div>
</div>

<div class="container" id="no-padding">
  <div class="col-lg-12">
    <form name="outerForm" class="tab-form-demo">
      <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Tab 1">
        </uib-tab>
        <uib-tab index="1" heading="Tab 2">
        </uib-tab>
        <uib-tab index="2" heading="Tab 3">
        </uib-tab>
      </uib-tabset>
    </form>
    <div ng-if="true">
      <nvd3 options='options' data='data'></nvd3>
    </div>
  </div>
</div>

